header {
   height: 70px;  /*da togliere */
   background-color: #2C3D50;
   color: white;
}

.mf-jumbotron {
  background-color: #31BC9C;
  margin-top: 70px;
}

.img-jumbo {
  width: 30%;
  height: 30%;
}

.img-jumbo img {
  width: 100%;
  height: 100%;
}

main {
  background-color: white;
}

.mf-box {
  position: relative;
}

.mf-box img {
  width: 100%;
  border-radius: 20px;
}

.mf-container {
  width: 60%;
  margin: 0 auto;
}

.credits {
  background-color: #31BC9C;
}

.contacts {
  height: 200px;
  background-color: #fff;
}

footer {
  height: 100px;  /*da togliere */
  background-color: #2C3D50;
  color: white;
}