header {
   height: 70px;  /*da togliere */
   background-color: #2C3D50;
   color: white;
}

.mf-jumbotron {
  height: 300px;  /*da togliere */
  background-color: #31BC9C;
  margin-top: 70px;
}

main {
  background-color: white;
}

.mf-box {
  height: 200px;
  background-color: blue;
  border-radius: 20px;
}

.mf-container {
  width: 60%;
  margin: 0 auto;
}

.credits {
  background-color: aquamarine;
}

.contacts {
  height: 200px;
  background-color: #fff;
}

footer {
  height: 100px;  /*da togliere */
  background-color: blue;
  color: white;
}